<div id="tree">
  <div class="gen">
    <div class="sibRight">Frank Tzope Sr</div>
    <div class="sibLeft">Anna Kope</div>
  </div>
  <div class="sibLine"></div>
  <div class="gen">
    <!-- <div>Michael</div> -->
    <div>Frank</div>
    <!-- <div>Unknown</div> -->
    <div>Julia</div>
    <div>Marie</div>
    <div>Helen</div>
    <div>Barbara</div>
    <div>George</div>
    <!-- <div>Elizabeth?</div> -->
    <div>Elizabeth</div>
    <div>Annenka</div>
    <!-- <div>Dorothy</div> -->
    <div>Catherine</div>
  </div>
</div>
